


<section class="py-5">
    {% for article in articles %}
            <article class="col-block">
                <div class="item-entry" data-aos="zoom-in">
                    <div class="item-entry__thumb">
                        <img src="{{ article.cover.url }}" alt="">
                        </a>
                    </div>
                    <div class="item-entry__text">
                        <div class="item-entry__cat">
                            <h4><a href="{% url 'single-article' article.title %}">{{ article.title }}</a></h4>
                        </div>
            </article> 
            {% endfor %}
</section>


