<!DOCTYPE html>
<html lang="fa">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>لیست دسته‌بندی‌ها</title>
</head>
<body>
    <h1>لیست دسته‌بندی‌ها</h1>
    <ul>
        {% for category in categories %}
            <li>
                <strong>{{ category.title }}</strong>
                <img src="{{ category.cover.url }}" alt="{{ category.title }}" width="100">
            </li>
        {% endfor %}
    </ul>
</body>
</html>